1.hello_world/target
10.traits/target
2.guessing_game/target
3.functions/target
3.variables/target
4.ownership/target
4.references/target
4.slice/target
5.methods/target
5.structs/target
6.enums/target
6.ifLet/target
6.match/target
7.restaurant/target
8.entry/target
8.hashmaps/target
8.strings/target
8.vectors/target
9.errors/target
901.generics_types/target
902.traits/target
903.lifetimes/target
911.tests/target
912.adder/target
921.minigrep/target
931.closures/target
932.iterators/target
941.smartpointers/target
951.threads/target
952.msg_threads/target
961.objectorient/target
962.gui/target
963.blog/target
971.patterns/target
981.advanced/target
985.hello_macro/target
hello/target